@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html id="login-page">
<head>
    <title>Login Page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body id="login-body">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div style="text-align: center;
">
                        <img src="/Content/Images/logo.png" alt="sara computer services">

                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("CheckUserValidation", "Account", FormMethod.Post))
                    {
                        <form action="" method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="username" name="username" required value="">

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" name="password" required value="">
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-school"></i></span>
                                </div>
                                <input type="number" class="form-control" placeholder="school code" name="school_code" required value="">
                            </div>
                            <div class="error-message-container">
                                @*<span id="error-message">Incorrect username or password!</span>*@
                                <span id="error-message">@TempData["MSG"]</span>
                            </div>
                            <div class="form-group login_btn_container">
                                <input type="submit" value="Login" class="btn login_btn">
                            </div>
                        </form>
                    }
                    <div class="form-group">
                        <input type="submit" value="View Result" class="btn view-result-btn">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="View Character" class="btn view-character-btn">
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#">Register now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
